/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-lightblue: #2b7fff;
  --color-primary-blue: #011c44;
  --color-secondary-lightgray: #747272;
  --color-secondary-gray: #4a4a4a;
  --color-secondary-blue: #011f4a;
  --color-secondary-yeloy: #ffd02b;
  --color-secondary-black: #000000;
  --color-shadows: #a8c6f533;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--color-primary-blue);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visualiti-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */
.header {
  background-color: rgba(255, 255, 255, 0.25);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  gap: 56px;
  justify-content: center;
}

.header-social {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link {
  color: var(--color-primary-blue);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-primary-lightblue);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

/* Header button */
.hero-button {
  color: var(--color-primary-white);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-primary-lightblue);
  border: 2px solid var(--color-primary-lightblue);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.hero-button:hover {
  color: var(--color-primary-blue);
  background-color: transparent;
}

.header-nav {
  width: 32px;
  height: 32px;
  fill: var(--color-primary-blue);
}

/* Hero-section */

.hero-section {
  background-image: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(./Images/hero-section-backgraund.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  padding: 123px 667px 127px 244px;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  font-family: "play", sans-serif;
  color: var(--color-primary-lightblue);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.title-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  width: 238px;
  height: 36px;
  text-align: center;
  margin: 0;
}

/* About-us-section */

.about-us-section {
  margin-bottom: 40px;
}

.about-us-stars {
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.about-us-stars:first-child {
  width: 64px;
  height: 64px;
  fill: var(--color-secondary-blue);
  top: 336px;
  left: 858px;
  animation-name: star-hight;
}

.about-us-stars:nth-child(2n) {
  width: 40px;
  height: 40px;
  fill: var(--color-primary-lightblue);
  top: 32px;
  left: 1212px;
  animation-name: star-medium;
}
.about-us-stars:nth-child(3n) {
  width: 16px;
  height: 16px;
  fill: var(--color-secondary-lightgray);
  top: 270px;
  left: 1213px;
  animation-name: star-little;
}

@keyframes star-hight {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes star-medium {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes star-little {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.about-us-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.about-us-content {
  max-width: 650px;
  margin-top: 40px;
}

.about-us-title {
  margin-bottom: 40px;
  text-align: left;
}

.about-us-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
}

.about-us-images {
  position: relative;
  width: 500px;
  height: 695px;
}

.before-images,
.after-images {
  position: absolute;
  border-radius: 180px;
  box-shadow: 0px 4px 4px 0px var(--color-shadows);
}

.before-images {
  top: 0;
  left: 0;
}

.after-images {
  bottom: 0;
  right: 0;
}

/* Why-people-choose-us-section */
.choose-section {
  padding-bottom: 48px;
}

.choose-container {
  display: flex;
}

.choose-title {
  margin: 0 314px 48px 314px;
  text-align: center;
}

.choose-content {
  margin: 0 76px;
}

.choose-windows {
  display: flex;
  gap: 56px;
  height: 181px;
}

.choose-item {
  flex-basis: calc((100% - 56px) / 3);
  border-radius: 32px;
  border: 1px solid var(--color-primary-blue); /*delete*/
  padding: 24px 32px;
  text-align: center;
  fill: var(--color-primary-lightblue);
}

/* Procedures-section */

.procedures-section {
  padding: 48px 0;
}

.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.mascs {
  background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      var(--color-primary-blue) 101.39%
    ),
    url(./Images/image-mascs.jpg);
}

.botox {
  background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      var(--color-primary-blue) 101.39%
    ),
    url(./Images/images-botox.jpg);
}

.cleaning {
  background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      var(--color-primary-blue) 101.39%
    ),
    url(./Images/image-cleaning.jpg);
}

/* carousel-button */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  fill: var(--color-primary-blue);
  padding: 0;
  border: 2px solid var(--color-primary-blue);
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-button:hover {
  fill: var(--color-primary-white);
  background-color: var(--color-primary-lightblue);
  border: 0.77px solid var(--color-primary-white);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.procedures-list {
  display: flex;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  width: 344px;
  height: 456px;
  border-radius: 4px 120px 4px 120px;
}

.procedures-hero {
  text-align: center;
}

.procedures-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: var(--color-primary-white);
  padding: 372px 77px 32px 115px;
  text-align: center;
}

/* Contacts-section */

.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
  text-align: center;
}

.contacts-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

/* Forms */

.form-field {
  display: block;
  margin-bottom: 16px;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  border: 2px solid var(--color-secondary-lightgray);
  border-radius: 32px;
  color: var(--color-primary-white);
  background: transparent;
}

.form-input:focus {
  background-color: var(--color-secondary-lightgray);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-white);
}

.button-contacts {
  display: block;
  color: var(--color-primary-white);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-primary-lightblue);
  border: 2px solid var(--color-primary-lightblue);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 24px;
  margin-bottom: 8px;
  width: 281px;
  height: 53px;
  line-height: 1.17;
  margin: 0 auto 8px;
}

.button-contacts:hover {
  background: transparent;
}

.section-title {
  color: var(--color-primary-blue);
  font-family: "play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.157;
  margin-bottom: 48px;
}
.section-title .accent {
  color: var(--color-primary-lightblue);
}
.section-title .accent-text {
  color: var(--color-primary-lightblue);
  text-transform: capitalize;
}

.capitalize-section {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.7;
}
.section-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
}

.registration-section {
  display: block;
  background-image: url(./Images/form-background.png);

  background-color: var(--color-primary-blue);
  border: 4px;
  border-radius: 32px;
  width: 422px;
  height: 482px;
  padding: 48px 56px;
  align-items: center;
  justify-content: center;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.registration-title {
  color: var(--color-primary-white);
  text-align: center;
  padding: 0 18px;
}

.registration-title .accent {
  color: var(--color-primary-lightblue);
}
.political {
  color: var(--color-secondary-lightgray);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  width: 213px;
  margin: 0 auto;
}
.political .accent {
  text-decoration: underline;
}
/* Footer */

.footer {
  position: relative;
  background-image: url(./Images/fotter-background.png);
  background-color: var(--color-primary-blue);
  padding: 56px 100px;
}

.footer::after {
  position: absolute;
  background: no-repeat;
  right: 0;
  height: 142px;
  width: 257px;
  bottom: 0;
  background-image: url(./Images/footer-images.jpg);
  content: "";
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  flex-basis: 50%;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-contacts {
  color: var(--color-primary-white);
  font-weight: 400;
  line-height: 1.17;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-white);
}

.Data-is-protected {
  color: var(--color-secondary-lightgray);
  font-size: 13px;
  line-height: 1.17;
}

/* Modal windows */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 38, 68, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 723px;
  height: 681px;
  background-color: var(--color-secondary-blue);
  border-radius: 48px;
  display: block;
  padding: 42px 144px;
  text-align: center;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title,
.modal-text {
  color: var(--color-primary-white);
}

.modal-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
}

.modal-span {
  color: var(--color-primary-lightblue);
}

.form-field,
.modal-field {
  margin-bottom: 24px;
}
